<% layout("/layouts/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2"><br>
                <h3 class="mb-3">List your properties</h3>
                <form action="/listings" method="post">
                    <div class="mb-3">
                        <label for="text" class="form-label">Title</label>
                        <input type="text" name="listing[title]" placeholder="Enter title" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="listing[description]" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image url</label>
                        <input type="text" name="listing[image]" placeholder="Enter image url" class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" placeholder="9999" class="form-control">
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="location" class="form-label">Location</label>
                            <input type="text" name="listing[location]" placeholder="Thane, Mumbai"
                                class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" placeholder="India" class="form-control">
                    </div>
                    <button class="btn btn-dark mb-3 new-btn">Add</button>
                </form>
            </div>
        </div>
    </body>

    </html>